In [1]:
import sys
import pandas as pd

sys.path.insert(0,'..')
from dataset_collection.image import tiny_imagenet

%matplotlib inline

In [2]:
ds = tiny_imagenet('../../data')

In [3]:
label_to_description = ds.get_description_map()

## Train Dataset

In [4]:
uris, labels = ds.get_train_dataset()
df_train = pd.DataFrame({'uri': uris, 'label': labels})
g = df_train.groupby('label', as_index=False).agg({'uri': 'count'})

In [5]:
g.sort_values(['uri']).head()

         label  uri
0    n01443537  500
127  n03891332  500
128  n03902125  500
129  n03930313  500
130  n03937543  500

In [6]:
g.sort_values(['uri']).tail()

         label  uri
70   n02814533  500
71   n02814860  500
72   n02815834  500
62   n02730930  500
199  n12267677  500

In [7]:
len(uris)

100000

## Val Dataset

In [8]:
uris, labels = ds.get_val_dataset()
df_val = pd.DataFrame({'uri': uris, 'label': labels})
g = df_val.groupby('label', as_index=False).agg({'uri': 'count'})

In [9]:
g.sort_values(['uri']).head()

         label  uri
0    n01443537   50
127  n03891332   50
128  n03902125   50
129  n03930313   50
130  n03937543   50

In [10]:
g.sort_values(['uri']).tail()

         label  uri
70   n02814533   50
71   n02814860   50
72   n02815834   50
62   n02730930   50
199  n12267677   50